*.Rproj.user
*.Rproj
*.Ruserdata
*.Rhistory
*.RData
*.rds
*.Rdata
*.fasta
*.txt
*.csv
*.tab
*.pdf
*.pData
*.df
/results/
/backup/
/Input data/
.Rproj.user

/home/nmm199/R/MB_RNAseq/Clinical/clin.script/disregard/clinical_data_5.R
/home/nmm199/R/MB_RNAseq/Clinical/clin.script/disregard/clinical_data_functions_2.R